#canvas1 {

    position: absolute;
    top: 10px;
    left: 20px;
    width: 500px;
    height: 1000px;
    border: 2px solid black;
}
#canvas2 {
    position: absolute;
    top: 10px;
    left: 530px;
    width: 500px;
    height: 1000px;
    border: 2px solid black;
}
#canvas3 {
    position: absolute;
    top: 10px;
    left: 1040px;
    width: 500px;
    height: 1000px;
    border: 2px solid black;
}
#canvas4 {
    position: absolute;
    top: 10px;
    left: 1550px;
    width: 500px;
    height: 1000px;
    border: 2px solid black;
}
